body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: rgb(34,193,195);
    background: radial-gradient(circle, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);}

.empleados_form {
    background-color: #edd735;
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-top: 0;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: grid;
    gap: 0px;
}

input[type="text"]::placeholder,
select::placeholder {
    color: rgba(0, 0, 0, 0.323);
}    

input[type="text"],
select {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

input[type="text"]:focus,
select:focus {
    border-color: #007bff;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    outline: none;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

.error-message {
    color: #dc3545;
    margin-top: 5px;
    font-size: 14px;
}
