body {
    background-image: url(../style.css/images/ventas.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    font-family: "Roboto Slab", serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contenedor_ventanilla {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 400px;
}

h2 {
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

input[type="text"],
input[type="date"],
button[type="submit"],
button[type="button"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

button[type="submit"],
button[type="button"] {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

button[type="submit"]:hover,
button[type="button"]:hover {
    background-color: #0056b3;
}

a {
    display: block;
    text-align: center;
    color: #007bff;
    text-decoration: none;
    margin-top: 10px;
}

a:hover {
    text-decoration: underline;
}
